{% extends "base.html" %}
{% block content %}
<form method="post" class="row g-3">
  <div class="col-12">
    <label for="username" class="form-label">Username</label>
    <input id="username" name="username" class="form-control" autocomplete="username">
  </div>
  <div class="col-12">
    <label for="password" class="form-label">Password</label>
    <input id="password" name="password" type="password" class="form-control" autocomplete="current-password">
  </div>
  {% if error %}
    <div class="col-12"><div class="alert alert-danger mb-0">{{ error }}</div></div>
  {% endif %}
  <div class="col-12 d-flex gap-2 align-items-center">
    <button type="submit" class="btn btn-primary">Log in</button>
    <a class="link-secondary" href="{{ url_for('forgot_password') }}">Forgot password?</a>
  </div>
</form>
{% endblock %}